.aboutUs {
  display: flex;
  background: white;
  border-radius: 10px;
  margin: 0 60px;
  transform: translateY(-60px);
  max-height: 1000px;
}
.image {
  height: 100%;
  border-top-left-radius: 10px;
}
.info {
  margin-top: 40px;
  padding: 0 45px;
}
.title {
  font-size: 36px;
}
.text {
  margin-top: 32px;
  line-height: 24px;
}
