.footer {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 34px 60px;
  margin-top: 85px;
}
.imgBox {
  display: flex;
  align-items: center;
}
.img {
  width: 135px;
}
